body{
    margin: 0px;
    background-color: gray;
}
#header{
   
    padding: 12px 80px;
    position: sticky;
    background-color: rgb(161, 78, 182);
}
#leftmenu{
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     position: absolute;
     left: 20px;
     bottom: 13px;
}
.menu{
    padding: 5px;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
   
}
nav{
    display: flex;
    justify-self: center;
    justify-content: space-evenly;

}
input{
    background-color: gold;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 30px;
    border-radius: 10px;
}
section{
    display: flex;
    flex-wrap: wrap;
   
}
main{
    padding: 4% 12%;
    box-sizing: border-box;
}
article{
    width: 23%;
    height: auto;
    vertical-align: middle;
    margin: 10px;
    padding: 5px;
    background-color: rgb(30, 255, 255);
    border-radius: 5px
}
article:hover{
    box-shadow: 2px 4px 4px grey;
    background-color: palevioletred;

}
